<%- include('head', {page: 'Awesomeist Things'}) %>
  <body>
  <%- include('header') %>
    <h1>Orders</h1>
    <a href="/chickennuggets/order">New Order</a>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Flavor</th>
          <th>Qty</th>
          <th>Time</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% orders.forEach(function (order) {
          if (order.complete !== true) { %>
          <tr>
              <td><%= order.name %></td>
              <td><%= order.flavor %></td>
              <td><%= order.qty %></td>
              <td><%= order.createdAt %></td>
              <td>
                <form action="/chickennuggets/order/<%= order._id %>/complete" method="POST">
                  <input type="submit" value="complete">
                </form>
              </td>
            </tr>
        <% }
        }); %>
      </tbody>
    </table>
    <br>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Flavor</th>
          <th>Qty</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% orders.forEach(function (order) {
          if (order.complete) { %>
          <tr>
              <td><%= order.name %></td>
              <td><%= order.flavor %></td>
              <td><%= order.qty %></td>
              <td><%= order.createdAt %></td>
            </tr>
        <% }}); %>

      </tbody>
    </table>
    <%- include('javascripts') %>
